.partner-list {
    margin-bottom: -30px
}

.partner-list .single-partner {
    margin-bottom: 30px
}

.partner-list-s2 {
    width: 100%;
    margin-top: 20px;
    padding-left: 15px
}

.partner-list-s2 li {
    width: 18%;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 12px;
    color: #7ab9ff;
    text-align: center
}

.partner-list-s2 li:first-child {
    width: 10%;
    text-align: left
}

.partner-list-s2 li a {
    display: inline-block
}

.header-partners {
    position: absolute;
    width: 100%;
    bottom: 40px
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-partners {
        position: relative;
        width: 100%;
        bottom: auto;
        margin-top: 100px;
        margin-bottom: 35px
    }
    .partner-list-s2 {
        padding-left: 15px
    }
}

@media only screen and (max-width: 767px) {
    .header-partners {
        position: relative;
        width: 100%;
        bottom: auto
    }
    .site-header .scroll-down {
        display: none
    }
    .partner-list-s2 {
        width: 100%;
        margin-top: 20px;
        padding-right: 0;
        justify-content: center
    }
    .partner-list-s2 li {
        width: 33.3%;
        flex-grow: 0;
        margin-bottom: 20px
    }
    .partner-list-s2 li:first-child {
        width: 100%;
        text-align: center
    }
}