.our-team {
    position: relative;
    &::before {
        content: "";
        background: url(../images/team-pattern.png) 50% 50% no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.6;
    }
}

.team {
    text-align: center;
    &__bx {
        display: inline-block;
        margin: 50px 15px 50px 50px;
        padding: 130px 20px 25px 25px;
        position: relative;
        max-width: 190px;
        flex-grow: 1;
        background: lighten($secondary, 12%);
        border: 1px solid rgba($white, 0.3);
        text-align: left;
    }
    &__pic {
        width: 160px;
        position: absolute;
        top: -50px;
        left: -38px;
        img {
            transition: all .5s ease;
        }
        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            content: "";
            background-image: linear-gradient(to top left, transparent 0%, rgba($secondary, 0.65) 100%);
            transition: all .5s ease;
        }
        &::before {
            position: absolute;
            top: 24px;
            right: -33px;
            content: "";
            height: 3px;
            width: 65px;
            background-image: -webkit- linear-gradient(to right, $secondary 0%, $white 100%);
            background-image: linear-gradient(to right, $secondary 0%, $white 100%);
            transition: all .5s ease;
        }
    }
    &__detail {}
    &__member {
        &-name {
            margin-bottom: 6px;
            font-size: 1.375rem;
        }
        &-position {
            font-size: 0.875rem;
            font-weight: 300;
        }
    }
    &__social {
        &-list {
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px 25px;
            margin: 0;
            list-style: none;
        }
        &-item {
            list-style: none;
            margin: 6px 0;
        }
    }
}